.container-box {
    display: flex;
}

.edit-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    min-height: 100vh;
    height: 100%;
    padding: 20px;
    background-color: #d2eaf4;
}

